
@{
    ViewData["Title"] = "Trang quản trị";
}
<div class="container mt-4">
    <h1>Trang quản trị</h1>
    <p>Chào mừng admin - đây là dashboard tạm.</p>
    <div class="row mt-4">
        <div class="col-md-3">
            <a class="btn btn-outline-primary w-100" href="/Admin/HangHoa">Quản lý hàng hóa</a>
        </div>
        <div class="col-md-3">
            <a class="btn btn-outline-primary w-100" href="/Admin/HoaDon">Quản lý đơn hàng</a>
        </div>
    </div>
</div>



