@model ECommerceMVC.Data.HangHoa
<h3>Xác nhận xóa</h3>
<p>Bạn có chắc muốn xóa: <b>@Model.TenHh</b> ?</p>

<form asp-area="Admin" asp-controller="HangHoa" asp-action="Delete" method="post">
    <input type="hidden" name="id" value="@Model.MaHh" />
    <button type="submit" class="btn btn-danger">Xóa</button>
    <a asp-area="Admin" asp-controller="HangHoa" asp-action="Index" class="btn btn-secondary">Hủy</a>
</form>

